.main {

  background-color: #fff;
  border-left: 1px solid $gray-lighter;

  padding-bottom: 20px;

  .btn-group-top {
    float: right;
    @include mt;
    @include mb;
  }

  .header-title {
    @include mt;
    @include mb;
  }

}
