.main {

  background-color: #fff;
  border-left: 1px solid $gray-lighter;

  padding-bottom: 20px;

  .btn-group-top {
    float: right;
    @include mt;
    @include mb;

    .btn {
      .fas {
        margin-right: 7px;
      }
    }
  }

  .header-title {
    @include mt;
    @include mb;
  }

  .bulk-actions {
    margin-bottom: 5px;

    i {
      margin: 9px 9px 0 9px;
      float: left;
    }

    select {
      float: left;
      width: auto;
    }

    button {
      margin-left: 10px;
      float: left;
    }

  }
}
