.grid-view {

  @media (max-width: $screen-md) {
    overflow-x: scroll;
  }

  table {
    margin-bottom: 5px;

    .ui-sortable {
      tr {
        cursor: move;
      }
    }

    .thumbnail {
      margin-bottom: 0px !important;
    }

    tr {
      &.filters {
        .form-control {
          font-size: 12px;
          height: 28px;
          padding: 2px 8px;
        }
      }

      th {
        .asc, .desc {
          &:before {
            margin-right: 10px;
            @include font-awesome;
          }
        }

        .asc {
          &:before {
            content: "\f160";
          }
        }

        .desc {
          &:before {
            content: "\f161";
          }
        }

        &.action-column {
          width: 75px;
        }

        &.sort-column {
          width: 75px;
        }

        &.publish-column {
          width: 44px;
        }

        &.checkbox-column {
          width: 30px;
        }
      }
      td {
        vertical-align: middle;

      }
    }
  }

  .checkbox {
    margin: 0px;
    padding-left: 17px;

    label {
      padding: 0px;

      &::before {
        margin-left: -17px;
      }
      &::after {
        margin-left: -17px;
      }
    }
  }

  .pagination {
    margin: 5px 0 5px 0;
  }
}
