@mixin transition() {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@mixin mt() {
  margin-top: $vertical-margin;
}

@mixin mb() {
  margin-bottom: $vertical-margin;
}