.wavecms-form {

  .form-group {

    &.required {
      label.control-label {
        &:after {
          content: '*';
        }
      }
    }

    .language-checkboxes {

      @include clearfix;

      .checkbox {
        margin-top: 10px;

        .country-code {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .sub-list {
    @include mb;
  }

  .panel {
    .panel-body {
      .form-group:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .tab-content {
    @include mt();
  }

  .thumbnail-outer {
    @include mt();

    .thumbnail {
      margin-bottom: 5px;
    }

    .action-column {
      width: 41px;
    }
  }
}