.wavecms-form {

  .form-group {

    &.required {
      label.control-label {
        &:after {
          content: '*';
        }
      }
    }

    .language-checkboxes {

      @include clearfix;

      .checkbox {
        float: left;
        margin-top: 10px;
        margin-right: 15px;
      }
    }
  }

  .sub-list {
    @include mb;
  }

  .panel {
    .panel-body {
      .form-group:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .tab-content {
    @include mt();
  }

  .thumbnail-outer {
    @include mt();

    .thumbnail {
      margin-bottom: 5px;
    }

    .action-column {
      width: 41px;
    }
  }
}

input[type="checkbox"].styled,
input[type="radio"].styled,
.checkbox input[type=checkbox] {
  cursor: pointer;
  margin-left: -17px;
  width: 17px;
  height: 17px;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after {
  @include font-awesome;
  content: "\f00c";
}