#login-form {
  display: block;
  padding: 20px;
  background-color: #fff;

  border-radius: $border-radius-base;
  border: 1px solid $gray-lighter;


  width: 90%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);

  @media (min-width: $screen-md) {
    width: 460px;
    top: 30%;
    transform: translate(-50%, -30%);
  }

  .logo-outer {
    text-align: center;
    margin-bottom: 20px;

    .logo {
      display: inline-block;
      position: relative;
      margin-left: -10px;

      h2 {
        margin: 0px;
        position: absolute;
        bottom: 5px;
        right: 25px;
        font-size: 16px;
        color: #fff;
        @include font-opensans-regular;

        strong {
          @include font-opensans-bold;
        }
      }

      img {
        height: 75px;
      }
    }
  }
}