$fa-font-path: "../fonts" !default;

// Core variables and mixins
//@import "bootstrap/variables";
@import "bootswatch/variables";
@import "bootstrap/mixins";
@import "bootswatch/bootswatch";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
//@import "font-awesome.scss";
@import "fontawesome.scss";
@import "fa-solid.scss";
@import "awesome-bootstrap-checkbox.scss";


@import "settings/fonts";
@import "settings/variables";
@import "settings/mixins";
@import "settings/settings";
@import "layout/header";
@import "layout/sidebar";
@import "layout/main";
@import "grid/grid-view";
@import "form/form";
@import "form/login";
@import "form/tabs";
@import "plugins/select2";
@import "plugins/xeditable";